<p>tournament works!</p>
<h1>{{ tournament()!.name }}</h1>
<p>{{ tournament()!.locationName }}</p>
<p>{{ tournament()!.streetAddress }}</p>
<p>{{ tournament()!.city }}</p>
<p>{{ tournament()!.state }}</p>
@if(tournament()!.startDate.getTime() === tournament()!.endDate.getTime()){
<p>On {{ tournament()!.startDate | date : "longDate" }}</p>
} @else {
<p>From {{ tournament()!.startDate }} to {{ tournament()!.endDate }}</p>
} @if(tournament()?.isFull) {
<p>This tournament is full.</p>
} @else {
<p>Still accepting participants.</p>
}
