<form (ngSubmit)="onSubmit()">
  <p>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" formControlName="email" />
  </p>
  <p>
    <label for="password">Password</label>
    <input
      type="text"
      id="password"
      name="password"
      formControlName="password"
    />
  </p>
  <p>
    <label for="cPassword">Confirm Password</label>
    <input
      type="text"
      id="cPassword"
      name="cPassword"
      formControlName="cPassword"
    />
  </p>
  <button type="submit">Sign Up</button>
</form>
