<form (ngSubmit)="onSubmit()">
  <p>
    <label for="tournament-name">Tournament Name</label>
    <input
      type="text"
      id="tournament-name"
      name="tournament-name"
      [(ngModel)]="enteredTournamentName"
    />
  </p>
  <p>
    <label for="location-name">Location Name</label>
    <input
      type="text"
      id="location-name"
      name="location-name"
      [(ngModel)]="enteredLocationName"
    />
  </p>
  <p>
    <label for="street-address">Address</label>
    <input
      type="text"
      id="street-address"
      name="street-address"
      [(ngModel)]="enteredStreetAddress"
    />
  </p>
  <p>
    <label for="city">City</label>
    <input type="text" id="city" name="city" [(ngModel)]="enteredCity" />
  </p>
  <p>
    <label for="state">State</label>
    <input type="text" id="state" name="state" [(ngModel)]="enteredState" />
  </p>
  <div class="input-group">
    <p>
      <label for="start-date">Start Date</label>
      <input
        type="date"
        id="start-date"
        name="start-date"
        [(ngModel)]="enteredStartDate"
      />
    </p>

    <p>
      <label for="end-date">End Date</label>
      <input
        type="date"
        id="end-date"
        name="end-date"
        [(ngModel)]="enteredEndDate"
      />
    </p>
  </div>
  <div class="input-group">
    <input
      type="checkbox"
      id="isBoysVarsity"
      name="isBoysVarsity"
      value="isBoysVarsity"
      [(ngModel)]="enteredIsBoysVarsity"
    />
    <label for="isBoysVarsity">Boys Varsity</label>
    <input
      type="checkbox"
      id="isGirlsVarsity"
      name="isGirlsVarsity"
      value="isGirlsVarsity"
      [(ngModel)]="enteredIsGirlsVarsity"
    />
    <label for="isGirlsVarsity">Girls Varsity</label>
  </div>
  <div class="input-group">
    <input
      type="checkbox"
      id="isBoysJv"
      name="isBoysJv"
      value="isBoysJv"
      [(ngModel)]="enteredIsBoysJv"
    />
    <label for="isBoysJv">Boys JV</label>

    <input
      type="checkbox"
      id="isGirlsJv"
      name="isGirlsJv"
      value="isGirlsJv"
      [(ngModel)]="enteredIsGirlsJv"
    />
    <label for="isGirlsJv">Girls JV</label>
  </div>
  <div class="input-group">
    <input
      type="checkbox"
      id="isBoysMs"
      name="isBoysMs"
      value="isBoysMs"
      [(ngModel)]="enteredIsBoysMs"
    />
    <label for="isBoysMs">Boys Middle School</label>
    <input
      type="checkbox"
      id="isGirlsMs"
      name="isGirlsMs"
      value="isGirlsMs"
      [(ngModel)]="enteredIsGirlsMs"
    />
    <label for="isGirlsMs">Girls Middle School</label>
  </div>
  <div class="input-group">
    <input
      type="checkbox"
      id="isBoysYouth"
      name="isBoysYouth"
      value="isBoysYouth"
      [(ngModel)]="enteredIsBoysYouth"
    />
    <label for="isBoysYouth">Boys Youth</label>
    <input
      type="checkbox"
      id="isGirlsYouth"
      name="isGirlsYouth"
      value="isGirlsYouth"
      [(ngModel)]="enteredIsGirlsYouth"
    />
    <label for="isGirlsYouth">Girls Youth</label>
  </div>
  <button type="submit">Create Tournament</button>
</form>
