<form (ngSubmit)="onSubmit()">
  <p>
    <label for="tournament-name">Tournament Name</label>
    <input
      type="text"
      id="tournament-name"
      name="tournament-name"
      [(ngModel)]="enteredTournamentName"
    />
  </p>
  <p>
    <label for="location-name">Location Name</label>
    <input
      type="text"
      id="location-name"
      name="location-name"
      [(ngModel)]="enteredLocationName"
    />
  </p>
  <p>
    <label for="street-address">Address</label>
    <input
      type="text"
      id="street-address"
      name="street-address"
      [(ngModel)]="enteredStreetAddress"
    />
  </p>
  <p>
    <label for="city">City</label>
    <input type="text" id="city" name="city" [(ngModel)]="enteredCity" />
  </p>
  <p>
    <label for="state">State</label>
    <input type="text" id="state" name="state" [(ngModel)]="enteredState" />
  </p>
  <div class="input-group">
    <p>
      <label for="start-date">Start Date</label>
      <input
        type="date"
        id="start-date"
        name="start-date"
        [(ngModel)]="enteredStartDate"
      />
    </p>

    <p>
      <label for="end-date">End Date</label>
      <input
        type="date"
        id="end-date"
        name="end-date"
        [(ngModel)]="enteredEndDate"
      />
    </p>
  </div>
  <button type="submit">Create Tournament</button>
</form>
