<form (ngSubmit)="onSubmit()">
  <p>
    <label for="tournament-name">Tournament Name</label>
    <input
      type="text"
      id="tournament-name"
      name="tournament-name"
      formControlName="tournamentName"
    />
  </p>
  <p>
    <label for="location-name">Location Name</label>
    <input
      type="text"
      id="location-name"
      name="location-name"
      formControlName="locationName"
    />
  </p>
  <p>
    <label for="street-address">Address</label>
    <input
      type="text"
      id="street-address"
      name="street-address"
      formControlName="streetAddress"
    />
  </p>
  <p>
    <label for="city">City</label>
    <input type="text" id="city" name="city" formControlName="city" />
  </p>
  <p>
    <label for="state">State</label>
    <input type="text" id="state" name="state" formControlName="state" />
  </p>
  <div class="input-group" formControlName="dates">
    <p>
      <label for="start-date">Start Date</label>
      <input
        type="date"
        id="start-date"
        name="start-date"
        formControlName="startDate"
      />
    </p>

    <p>
      <label for="end-date">End Date</label>
      <input
        type="date"
        id="end-date"
        name="end-date"
        formControlName="endDate"
      />
    </p>
  </div>
  <div class="input-group" formGroupName="ageDivision">
    <input
      type="checkbox"
      id="isBoysVarsity"
      name="isBoysVarsity"
      value="isBoysVarsity"
      formControlName="isBoysVarsity"
    />
    <label for="isBoysVarsity">Boys Varsity</label>
    <input
      type="checkbox"
      id="isGirlsVarsity"
      name="isGirlsVarsity"
      value="isGirlsVarsity"
      formControlName="isGirlsVarsity"
    />
    <label for="isGirlsVarsity">Girls Varsity</label>
  </div>
  <div class="input-group">
    <input
      type="checkbox"
      id="isBoysJv"
      name="isBoysJv"
      value="isBoysJv"
      formControlName="isBoysJv"
    />
    <label for="isBoysJv">Boys JV</label>

    <input
      type="checkbox"
      id="isGirlsJv"
      name="isGirlsJv"
      value="isGirlsJv"
      formControlName="isGirlsJv"
    />
    <label for="isGirlsJv">Girls JV</label>
  </div>
  <div class="input-group">
    <input
      type="checkbox"
      id="isBoysMs"
      name="isBoysMs"
      value="isBoysMs"
      formControlName="isBoysMs"
    />
    <label for="isBoysMs">Boys Middle School</label>
    <input
      type="checkbox"
      id="isGirlsMs"
      name="isGirlsMs"
      value="isGirlsMs"
      formControlName="isGirlsMs"
    />
    <label for="isGirlsMs">Girls Middle School</label>
  </div>
  <div class="input-group">
    <input
      type="checkbox"
      id="isBoysYouth"
      name="isBoysYouth"
      value="isBoysYouth"
      formControlName="isBoysYouth"
    />
    <label for="isBoysYouth">Boys Youth</label>
    <input
      type="checkbox"
      id="isGirlsYouth"
      name="isGirlsYouth"
      value="isGirlsYouth"
      formControlName="isGirlsYouth"
    />
    <label for="isGirlsYouth">Girls Youth</label>
  </div>
  <button type="submit">Create Tournament</button>
</form>
